.dashboard {
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
   
.dashboard > .box {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 3px;
    color: rgb(31, 28, 28);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dashboard > .pageBox {
    align-items: center;
    padding: 1px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-weight:bold;
}

.pageBox:hover {
    background: black;
    color: white;
}

.dashboard > .break {
    display: block;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(14, 79px);
    grid-auto-rows: minmax(1px, auto);
    grid-auto-flow: dense;
}

.dashboard .cellReserved {
    background: yellow !important;
    color: black;
    text-align: center;
}

.dashboard .cellFull {
    background: blue !important;
    color: black;
    text-align: center;
}

.dashboard .cellPickslot {
    background: magenta !important;
    color: black;
    text-align: center;
}

.dashboard .cellEmpty {
    background: gray !important;
    color: black;
    text-align: center;
}

.dashboard .cellMixed {
    background: cyan !important;
    color: black;
    text-align: center;
}

.dashboard .cellBad {
    background: red !important;
    color: black;
    text-align: center;
}

.container-box {
    width: 100%;
}

.row-box:after {
    content: "";
    display: grid;
    clear: both;
}

.column-box {
    float: left;
}

.center-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #333;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
    text-align: center;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-100 {
    width: 100%;
}

.col-break {
    border-top: 1px solid #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-list {
    margin-top: 10px;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.table-list thead tr th {
    background: rgb(7, 7, 114);
    color: white;
    text-align: center;
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
}

.table-list tbody tr td {
    text-align: left;
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
    width: 1px;
    white-space: nowrap;
}